<style>
  .bottom_images_slider_wrapper {
    padding: 30px 27px;
    overflow: hidden;
  }

  .bottom_images_slider_wrapper .swiper-slide {
    width: 265px;
    height: 265px;
  
  }
  .bottom_images_slider_wrapper .swiper-slide img {
    cursor:zoom-in;
    height: 100%;
    width:100%;
    object-fit: cover;
  }

  .bottom_images_slider_wrapper .swiper-wrapper {
    justify-content: space-between;
  }
 

  @media screen and (max-width: 1100px) {
    .bottom_images_slider_wrapper .swiper-slide {
      width: 220px;
      height: 220px;
    }
    .bottom_images_slider_wrapper .swiper-slide img {
      display: block;
      height: 100%;
      object-fit: cover;
    
    }
  }
  @media screen and (max-width: 920px) {
    .bottom_images_slider_wrapper .swiper-slide {
      width: 166px;
      height: 166px;
    }
  }

  @media screen and (max-width: 767px) {
    .bottom_images_slider_wrapper {
      padding: 10px 0 0 0;
    }
    .bottom_images_slider_wrapper .swiper-slide {
      width: 166px;
      height: 166px;
    }

    .bottom_images_slider_wrapper .swiper-wrapper {
      margin-bottom: 10px;
    }

  }


</style>

<div class="bottom_images_slider_wrapper">
  <!-- Slider main container -->
  <div class="swiper swiper-bottom">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <img loading="lazy" src="{{ block.settings.image | image_url }}">
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script defer>
  document.addEventListener('DOMContentLoaded', () => {
    const mainSwiper = new Swiper('.swiper-bottom', {
      spaceBetween: 10,
      slidesPerView: 3,
      autoplay: {
        delay: 2000,
      },
      breakpoints: {
        350: {
          width: 500,
          slidesPerView: 3,
          spaceBetween: 10,
        },
        690: {
          slidesPerView: 4,
          spaceBetween: 10,
        },
        921: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
        1400: {
          slidesPerView: 5,
          spaceBetween: 30,
        },
        1620: {
          slidesPerView: 7,
          spaceBetween: 30,
        },
      },
    });

  });
</script>
{% schema %}
{
  "name": "bottom-images-slider",
  "class": "section",

  "settings": [],
  "blocks": [
    {
      "type": "text",
      "name": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "bottom-images-slider"
    }
  ]
}
{% endschema %}
